@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">The Joel Hilton Film Collection</h1>
    <br />
    <img src="img/JoelHiltonHeadshot.jpg" alt="Joel Hilton" />
    <br />
    <br />
    <br />
    <a class="btn btn-primary" asp-controller="Home" asp-action="GetToKnowJoel">Get to Know Joel</a>
</div>